<h1><%= @category.name %></h1>

<h3>
  <%= pluralize(@category.posts.count, "post") %>
</h3>

<ul>
  <% @category.posts.each do |pos| %>
    <li><%= link_to pos.title, post_path(pos) %></li>
  <% end %>
</ul>